.card {
  border-radius: 16px;
  // background: #17141d;
  transition: 0.2s;
  cursor: grab;
  position: relative;
  z-index: 1;
  &:hover {
    transform: translateY(-1rem);
    z-index: 2;
  }
  &--stack {
    &:not(:first-child) {
      margin-left: -197px;
    }
  }
}
