@import '@/styles/all';

.player-card {
  width: 300px;
  height: auto;
  background-color: rgba(54, 53, 53, 0.568);
  padding: 1rem;
  border-radius: 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  &__avatar {
  }
}
