@import '@/styles/all';

.footer {
  background-color: #f8f9fa;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: rem(300px);
  text-align: left;

  &__container {
    @include push-auto;
    @include soft-sides(rem(16px));

    max-width: 68.75rem;
  }

  &__content {
    @include soft-ends(rem(48px), rem(20px));

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__left {
    width: rem(300px);
    margin-bottom: rem(20px);
  }

  &__right {
    @include hidden;
  }

  &__text {
    font-size: 0.875rem;
    line-height: 1.55;
    -webkit-text-decoration: none;
    text-decoration: none;
    margin-top: 0.625rem;
    color: #868e96;
  }

  &__info {
    display: inline-block;

    &:nth-of-type(2) {
      margin-left: rem(40px);
    }
  }

  &__title {
    line-height: 1.55;
    font-size: 1.125rem;
    font-weight: 700;
    color: #000;
  }

  &__link {
    @include soft-ends(rem(4px));

    -webkit-text-decoration: none;
    text-decoration: none;

    line-height: 1.55;
    font-size: 0.875rem;
    color: #868e96;

    display: block;
  }

  &__by {
    border-top: 0.0625rem solid #e9ecef;
    padding-top: rem(16px);
  }

  @include tablet {
    &__content {
      @include soft-ends(rem(48px));
    }

    &__left {
      margin-bottom: 0;
    }

    &__right {
      @include visible(flex);
    }

    &__content {
      flex-direction: row;
    }
  }
}
