@import '@/styles/all';

#root {
  // margin: 0 auto;
  @include push-auto;
  padding: 2rem;
  // width: 100%;
  max-width: 1280px;
  min-width: 320px;
  min-height: 100vh;
  text-size-adjust: 100%;
  // color-scheme: light dark;
  // color: rgb(255 255 255 / 87%);

  position: relative;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // background-color: $color-canvas-subtle;
}
